@media only screen and (max-width: 767px) {
  .gp .wrap > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .gp_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gp_row_column {
    margin-right: 0;
  }
  .gp_row_column_left {
    float: left;
    width: 100%;
    margin-right: 0;
  }
  .gp_row_column_left_top {
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .gp_row_column_left_top > a > img {
    height: 100%;
  }
  .gp_row_column_left_top h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_column_left_img {
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    float: left;
    width: 100%;
  }
  .gp_row_column_left_img:last-child {
    margin-right: 0;
  }
  .gp_row_column_left_img > a > img {
    height: 100%;
    width: 100%;
  }
  .gp_row_column_left_img h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_column_right {
    width: 100%;
    margin-right: 0;
    padding-bottom: 10px;
  }
  .gp_row_column_right_img {
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .gp_row_column_right_img > a > img {
    height: 100%;
  }
  .gp_row_column_right_img h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gp_row_bottom_item {
    margin-right: 0;
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .gp_row_bottom_item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .gp_row_bottom_item > a > img {
    height: 100%;
  }
  .gp_row_bottom_item h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_xemthem {
    display: none;
  }
  .gp_row_xemthem_web {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gp_row_xemthem_web > a {
    text-align: center;
    display: block;
    background-color: #fff;
    color: #1aceff;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: relative;
  }
  .gp_row_xemthem_web > a > i {
    margin-left: 5px;
    position: absolute;
    top: 9px;
  }
  .about-us {
    display: none !important;
  }
  .banner_list {
    display: none;
  }
  .banner_list_mobile {
    display: block;
  }
  .wrap {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .nav {
    display: none;
  }
  .banner_list_mobile .banner_list_item_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 110%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner_list_mobile p {
    font-size: 10px;
    width: 80px;
    margin-top: 0;
    margin-right: 2px;
  }
  .banner_list_mobile img {
    width: auto !important;
    height: 50px;
  }
  .banner_list_mobile .owl-dots {
    display: none;
  }
  .banner_list_mobile .owl-nav {
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
  }
  .banner_list_mobile .owl-nav button {
    position: absolute;
    top: 30px;
  }
  .banner_list_mobile .owl-nav button.owl-prev {
    left: 10px;
  }
  .banner_list_mobile .owl-nav button.owl-next {
    right: 10px;
  }
  .banner_list_mobile .owl-nav button i {
    color: #fff;
    font-size: 35px;
  }
  .mobile {
    display: block;
  }
  .mobile_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .mobile_top_item {
    margin-right: 30px;
  }
  .mobile_top_item img.logo {
    width: 200px;
  }
  .mobile_top_item:first-child {
    position: absolute;
    left: 0;
  }
  .mobile_top_item:last-child {
    position: absolute;
    right: 0;
    margin-right: 0;
  }
  .mobile_top_item > i {
    font-size: 20px;
    cursor: pointer;
  }
  .mobile_top_item > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile_top_item > ul > li {
    margin-right: 18px;
  }
  .mobile_top_item > ul > li:last-child {
    margin-right: 0;
    margin-top: 2px;
  }
  .mobile_top_item > ul > li > a > i {
    font-size: 20px;
  }
  .da-th {
    background-color: #e2e7ed;
    padding: 30px 0;
  }
  .da-th .wrap > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .da-th_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .da-th_list_item {
    margin-right: 10px;
    height: 100%;
  }
  .da-th_list_item:last-child {
    margin-right: 0;
  }
  .da-th_list_item a img {
    height: 100%;
    width: 100%;
  }
  .da-th_list_item > h3 {
    margin-top: 20px;
  }
  .da-th_list .owl-dots {
    display: none;
  }
  .da-th_list .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .da-th_list .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .da-th_list .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .da-th_list .owl-nav button.owl-prev {
    top: -55px;
    right: 60px;
  }
  .da-th_list .owl-nav button.owl-next {
    top: -55px;
    right: 0px;
  }
  .da-th_list .owl-nav button span {
    color: #1aceff;
  }
  .da-th_list .owl-nav .owl-next {
    float: right;
  }
  .cniot {
    padding: 50px 0;
    background-position: center center;
    background-size: cover;
  }
  .cniot_row_col > span {
    display: block;
    position: relative;
    color: #1aceff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
  }
  .cniot_row_col > span:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    left: 230px;
    background-color: #1aceff;
    top: 11px;
  }
  .cniot_row_col > h4 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .cniot_row_col:last-child > img {
    width: 100%;
  }
  .cniot_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cniot_list_item {
    float: left;
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .cniot_list_item:nth-child(2n) {
    margin-right: 0;
  }
  .cniot_list_item_img > a > img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .cniot_list_item > h3 {
    margin-top: 20px;
  }
  .cniot_list_item > h3 > a {
    color: #1aceff;
    text-transform: uppercase;
    font-size: 16px;
  }
  .cniot_list_item > p {
    color: #fff;
    margin-top: 10px;
    line-height: 2em;
  }
  .news {
    margin: 30px 0;
  }
  .news .wrap > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .news_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news_list_item {
    width: 100%;
    margin-right: 0;
  }
  .news_list_item:last-child {
    margin-right: 0;
  }
  .news_list_item_img {
    width: 100%;
    overflow: hidden;
  }
  .news_list_item_img > a > img {
    width: 100%;
  }
  .news_list_item_infor > h3 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .news_list_item_infor > p {
    line-height: 2em;
    font-size: 14px;
  }
  .news_list_item_infor > a {
    margin-top: 15px;
    display: block;
    background-color: #1aceff;
    color: #fff;
    width: 30%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: relative;
  }
  .news_list_item_infor > a > i {
    margin-left: 5px;
    position: absolute;
    top: 8px;
  }
  .news .owl-dots {
    display: none;
  }
  .news .owl-nav {
    width: 100%;
    position: unset;
  }
  .news .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .news .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .news .owl-nav button.owl-prev {
    top: -55px;
    right: 60px;
  }
  .news .owl-nav button.owl-next {
    top: -55px;
    right: 0px;
  }
  .news .owl-nav button span {
    color: #1aceff;
  }
  .news .owl-nav .owl-next {
    float: right;
  }
  .cn {
    background-color: #dee1e6;
    padding: 50px 0;
  }
  .cn_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cn_list_title {
    width: 100% !important;
    margin-right: 0;
  }
  .cn_list_title > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 2em;
  }
  .cn_list_img {
    width: 100% !important;
  }
  .cn_list_img > a {
    margin-right: 0;
  }
  .cn_list_img > a img {
    width: 22.98%;
  }
  .cn_list_img > a:last-child {
    margin-right: 0;
  }
  .cn_list_img .owl-dots {
    display: none;
  }
  .cn_list_img .owl-nav {
    top: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: -60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cn_list_img .owl-nav button {
    border: 2px solid #1aceff !important;
    height: 40px;
    background-color: #fff !important;
    width: 40px;
    border-radius: 50%;
    -webkit-transition: ease all  0.5;
    transition: ease all  0.5;
  }
  .cn_list_img .owl-nav button > span {
    color: #1aceff;
  }
  .cn_list_img .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .cn_list_img .owl-nav .owl-prev {
    margin-bottom: 20px;
  }
  .cn .owl-dots {
    display: none;
  }
  .cn .owl-nav {
    width: 100%;
    position: unset;
  }
  .cn .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .cn .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .cn .owl-nav button.owl-prev {
    top: 80px;
    left: 0;
  }
  .cn .owl-nav button.owl-next {
    top: 80px;
    right: 0;
  }
  .cn .owl-nav button span {
    color: #1aceff;
  }
  .cn .owl-nav .owl-next {
    float: right;
  }
  #dieu_khoan {
    display: none !important;
  }
  #border_ke {
    font-size: 16px !important;
  }
  footer-end p {
    text-align: center;
    float: unset !important;
    line-height: 30px;
  }
  .dt {
    /* position: relative; */
  }
  .dt img {
    width: 80% !important;
    margin-left: 10%;
  }
  .dt .owl-dots {
    display: none;
  }
  .dt .owl-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .dt .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .dt .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .dt .owl-nav button.owl-prev {
    top: -86px;
    right: 60px;
  }
  .dt .owl-nav button.owl-next {
    top: -86px;
    right: 0px;
  }
  .dt .owl-nav button span {
    color: #1aceff;
  }
  .dt .owl-nav .owl-next {
    float: right;
  }
  .mobile-about-us {
    display: block;
    padding: 25px 0;
  }
  .mobile-about-us_list_item_img {
    width: 100%;
  }
  .mobile-about-us_list_item_img > a > img {
    width: 100%;
  }
  .mobile-about-us_list_item_infor > span {
    margin-top: 20px;
  }
  .mobile-about-us_list_item_infor > h4 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .mobile-about-us_list_item_infor > p {
    height: 90px;
    line-height: 2em;
    font-size: 15px;
    overflow: hidden;
  }
  .mobile-about-us_wrap {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .mobile-about-us_wrap > ul {
    margin-top: 35px;
    margin-bottom: 2px;
    width: 100%;
    border-top: 5px solid #a1a1a1;
  }
  .mobile-about-us_wrap > ul > .wrap-li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li {
    position: relative;
    cursor: pointer;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
    margin-right: 16px;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li:last-child {
    margin-right: 0;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li:before {
    position: absolute;
    content: '';
    background-color: #a1a1a1;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    left: 0;
    z-index: 2;
    border: 1px solid #a1a1a1;
    -webkit-transform: translate(0%, -67%);
            transform: translate(0%, -67%);
  }
  .mobile-about-us_wrap > ul > .wrap-li > li > a {
    margin-left: -5px;
    margin-top: 15px;
    display: block;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li > span:before {
    position: absolute;
    content: '';
    background-color: #cccccc;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    z-index: 3;
    border: 1px solid #cccccc;
    left: 8px;
    -webkit-transform: translateY(-87%);
            transform: translateY(-87%);
  }
  .mobile-about-us_wrap > ul > .wrap-li > li.active:before {
    position: absolute;
    content: '';
    background-color: #1aceff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    left: 0;
    z-index: 2;
    border: 1px solid #1aceff;
    -webkit-transform: translate(0%, -67%);
            transform: translate(0%, -67%);
  }
  .mobile-about-us_wrap > ul > .wrap-li > li.active > span:before {
    position: absolute;
    content: '';
    background-color: #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    z-index: 3;
    border: 1px solid #fff;
    left: 8px;
    -webkit-transform: translateY(-87%);
            transform: translateY(-87%);
  }
  .mobile-about-us_wrap > ul > .wrap-li > li.active > a {
    color: #1aceff;
  }
}

@media only screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .nav {
    display: none;
  }
  .banner_list_mobile .banner_list_item_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 110%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner_list_mobile p {
    font-size: 10px;
    width: 80px;
    margin-top: 0;
    margin-right: 2px;
  }
  .banner_list_mobile img {
    width: auto !important;
    height: 50px;
    margin-bottom: 0;
  }
  .banner_list_mobile .owl-dots {
    display: none;
  }
  .banner_list_mobile .owl-nav {
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
  }
  .banner_list_mobile .owl-nav button {
    position: absolute;
    top: 30px;
  }
  .banner_list_mobile .owl-nav button.owl-prev {
    left: 10px;
  }
  .banner_list_mobile .owl-nav button.owl-next {
    right: 10px;
  }
  .banner_list_mobile .owl-nav button i {
    color: #fff;
    font-size: 35px;
  }
  .mobile {
    display: block;
  }
  .mobile_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .mobile_top_item {
    margin-right: 30px;
  }
  .mobile_top_item img.logo {
    width: 200px;
  }
  .mobile_top_item:first-child {
    position: absolute;
    left: 0;
  }
  .mobile_top_item:last-child {
    position: absolute;
    right: 0;
    margin-right: 0;
  }
  .mobile_top_item > i {
    font-size: 20px;
    cursor: pointer;
  }
  .mobile_top_item > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile_top_item > ul > li {
    margin-right: 18px;
  }
  .mobile_top_item > ul > li:last-child {
    margin-right: 0;
    margin-top: 2px;
  }
  .mobile_top_item > ul > li > a > i {
    font-size: 20px;
  }
  .da-th {
    background-color: #e2e7ed;
    padding: 30px 0;
  }
  .da-th .wrap > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .da-th_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .da-th_list_item {
    margin-right: 10px;
    height: 100%;
  }
  .da-th_list_item:last-child {
    margin-right: 0;
  }
  .da-th_list_item a img {
    height: 100%;
    width: 100%;
  }
  .da-th_list_item > h3 {
    margin-top: 20px;
  }
  .da-th_list .owl-dots {
    display: none;
  }
  .da-th_list .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .da-th_list .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .da-th_list .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .da-th_list .owl-nav button.owl-prev {
    top: -55px;
    right: 60px;
  }
  .da-th_list .owl-nav button.owl-next {
    top: -55px;
    right: 0px;
  }
  .da-th_list .owl-nav button span {
    color: #1aceff;
  }
  .da-th_list .owl-nav .owl-next {
    float: right;
  }
  .cniot {
    padding: 50px 0;
    background-position: center center;
    background-size: cover;
  }
  .cniot_row_col > span {
    display: block;
    position: relative;
    color: #1aceff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
  }
  .cniot_row_col > span:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    left: 230px;
    background-color: #1aceff;
    top: 11px;
  }
  .cniot_row_col > h4 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .cniot_row_col:last-child > img {
    width: 100%;
  }
  .cniot_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cniot_list_item {
    float: left;
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .cniot_list_item:nth-child(2n) {
    margin-right: 0;
  }
  .cniot_list_item_img > a > img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .cniot_list_item > h3 {
    margin-top: 20px;
  }
  .cniot_list_item > h3 > a {
    color: #1aceff;
    text-transform: uppercase;
    font-size: 16px;
  }
  .cniot_list_item > p {
    color: #fff;
    margin-top: 10px;
    line-height: 2em;
  }
  .news {
    margin: 30px 0;
  }
  .news .wrap > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .news_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news_list_item {
    width: 100%;
    margin-right: 0;
  }
  .news_list_item:last-child {
    margin-right: 0;
  }
  .news_list_item_img {
    width: 100%;
    overflow: hidden;
  }
  .news_list_item_img > a > img {
    width: 100%;
  }
  .news_list_item_infor > h3 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .news_list_item_infor > p {
    line-height: 2em;
    font-size: 14px;
  }
  .news_list_item_infor > a {
    margin-top: 15px;
    display: block;
    background-color: #1aceff;
    color: #fff;
    width: 30%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: relative;
  }
  .news_list_item_infor > a > i {
    margin-left: 5px;
    position: absolute;
    top: 8px;
  }
  .news .owl-dots {
    display: none;
  }
  .news .owl-nav {
    width: 100%;
    position: unset;
  }
  .news .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .news .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .news .owl-nav button.owl-prev {
    top: -55px;
    right: 60px;
  }
  .news .owl-nav button.owl-next {
    top: -55px;
    right: 0px;
  }
  .news .owl-nav button span {
    color: #1aceff;
  }
  .news .owl-nav .owl-next {
    float: right;
  }
  .cn {
    background-color: #dee1e6;
    padding: 50px 0;
  }
  .cn_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cn_list_title {
    width: 100% !important;
    margin-right: 0;
  }
  .cn_list_title > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 2em;
  }
  .cn_list_img {
    width: 100% !important;
  }
  .cn_list_img > a {
    margin-right: 0;
  }
  .cn_list_img > a img {
    width: 22.98%;
  }
  .cn_list_img > a:last-child {
    margin-right: 0;
  }
  .cn_list_img .owl-dots {
    display: none;
  }
  .cn_list_img .owl-nav {
    top: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: -60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cn_list_img .owl-nav button {
    border: 2px solid #1aceff !important;
    height: 40px;
    background-color: #fff !important;
    width: 40px;
    border-radius: 50%;
    -webkit-transition: ease all  0.5;
    transition: ease all  0.5;
  }
  .cn_list_img .owl-nav button > span {
    color: #1aceff;
  }
  .cn_list_img .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .cn_list_img .owl-nav .owl-prev {
    margin-bottom: 20px;
  }
  .cn .owl-dots {
    display: none;
  }
  .cn .owl-nav {
    width: 100%;
    position: unset;
  }
  .cn .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .cn .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .cn .owl-nav button.owl-prev {
    top: 80px;
    left: 0;
  }
  .cn .owl-nav button.owl-next {
    top: 80px;
    right: 0;
  }
  .cn .owl-nav button span {
    color: #1aceff;
  }
  .cn .owl-nav .owl-next {
    float: right;
  }
  #dieu_khoan {
    display: none !important;
  }
  #border_ke {
    font-size: 16px !important;
  }
  footer-end p {
    text-align: center;
    float: unset !important;
    line-height: 30px;
  }
  .dt {
    /* position: relative; */
  }
  .dt img {
    width: 80% !important;
    margin-left: 10%;
  }
  .dt .owl-dots {
    display: none;
  }
  .dt .owl-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .dt .owl-nav button {
    display: inline-block;
    border: none;
    border: 2px solid #1aceff !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 45px;
    position: absolute;
  }
  .dt .owl-nav button:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
  .dt .owl-nav button.owl-prev {
    top: -86px;
    right: 60px;
  }
  .dt .owl-nav button.owl-next {
    top: -86px;
    right: 0px;
  }
  .dt .owl-nav button span {
    color: #1aceff;
  }
  .dt .owl-nav .owl-next {
    float: right;
  }
  .gp .wrap > h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .gp_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gp_row_column {
    margin-right: 0;
  }
  .gp_row_column_left {
    float: left;
    width: 100%;
    margin-right: 0;
  }
  .gp_row_column_left_top {
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .gp_row_column_left_top > a > img {
    height: 100%;
  }
  .gp_row_column_left_top h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_column_left_img {
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    float: left;
    width: 100%;
  }
  .gp_row_column_left_img:last-child {
    margin-right: 0;
    display: none;
  }
  .gp_row_column_left_img > a > img {
    height: 100%;
    width: 100%;
  }
  .gp_row_column_left_img h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_column_right {
    width: 100%;
    margin-right: 0;
    padding-bottom: 10px;
    display: none;
  }
  .gp_row_column_right_img {
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .gp_row_column_right_img > a > img {
    height: 100%;
  }
  .gp_row_column_right_img h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .gp_row_bottom_item {
    margin-right: 0;
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .gp_row_bottom_item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .gp_row_bottom_item > a > img {
    height: 100%;
  }
  .gp_row_bottom_item h3 {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(238, 235, 229, 0.6);
    padding: 10px 0px 10px 15px;
    font-size: 16px;
  }
  .gp_row_xemthem {
    display: none;
  }
  .gp_row_xemthem_web {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gp_row_xemthem_web > a {
    text-align: center;
    display: block;
    background-color: #fff;
    color: #1aceff;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: relative;
  }
  .gp_row_xemthem_web > a > i {
    margin-left: 5px;
    position: absolute;
    top: 9px;
  }
  .about-us {
    display: none !important;
  }
  .mobile-about-us {
    display: block;
    padding: 25px 0;
  }
  .mobile-about-us_list_item_img {
    width: 100%;
  }
  .mobile-about-us_list_item_img > a > img {
    width: 100%;
  }
  .mobile-about-us_list_item_infor > span {
    margin-top: 20px;
  }
  .mobile-about-us_list_item_infor > h4 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .mobile-about-us_list_item_infor > p {
    height: 90px;
    line-height: 2em;
    font-size: 15px;
    overflow: hidden;
  }
  .mobile-about-us_wrap {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .mobile-about-us_wrap > ul {
    margin-top: 35px;
    margin-bottom: 2px;
    width: 100%;
    border-top: 5px solid #a1a1a1;
  }
  .mobile-about-us_wrap > ul > .wrap-li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li {
    position: relative;
    cursor: pointer;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
    margin-right: 16px;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li:last-child {
    margin-right: 0;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li:before {
    position: absolute;
    content: '';
    background-color: #a1a1a1;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    left: 0;
    z-index: 2;
    border: 1px solid #a1a1a1;
    -webkit-transform: translate(0%, -67%);
            transform: translate(0%, -67%);
  }
  .mobile-about-us_wrap > ul > .wrap-li > li > a {
    margin-left: -5px;
    margin-top: 15px;
    display: block;
  }
  .mobile-about-us_wrap > ul > .wrap-li > li > span:before {
    position: absolute;
    content: '';
    background-color: #cccccc;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    z-index: 3;
    border: 1px solid #cccccc;
    left: 8px;
    -webkit-transform: translateY(-87%);
            transform: translateY(-87%);
  }
  .mobile-about-us_wrap > ul > .wrap-li > li.active:before {
    position: absolute;
    content: '';
    background-color: #1aceff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    left: 0;
    z-index: 2;
    border: 1px solid #1aceff;
    -webkit-transform: translate(0%, -67%);
            transform: translate(0%, -67%);
  }
  .mobile-about-us_wrap > ul > .wrap-li > li.active > span:before {
    position: absolute;
    content: '';
    background-color: #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    z-index: 3;
    border: 1px solid #fff;
    left: 8px;
    -webkit-transform: translateY(-87%);
            transform: translateY(-87%);
  }
}
/*# sourceMappingURL=resposive.css.map */