@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
}
@media only screen and (max-width: 767px)  {
    .gp{
        .wrap{
            >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
        &_row{
           flex-direction: column;
            &_column{
                margin-right: 0;
                &_left{
                    float: left;
                    width: 100%;
                    margin-right: 0;
                    &_top{
                        margin-bottom: 10px;
                        height: 300px;
                        overflow: hidden;
                        position: relative;
                        >a{
                            >img{
                                height: 100%;
                            }
                        }
                        h3{
                            text-transform: uppercase;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            background: rgba(238, 235, 229, 0.6);
                            padding: 10px 0px 10px 15px;
                            font-size: 16px;
                        }
                        
                    }
                    &_img {
                        margin-right: 10px;
                        position: relative;
                        margin-bottom: 10px;
                        height: 300px;
                        overflow: hidden;
                        float: left;
                        width: 100%;
                        &:last-child{
                            margin-right: 0;
                        }
                       >a{
                           >img{
                               height: 100%;
                               width: 100%;
                           }
                       }
                        h3{
                            text-transform: uppercase;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            background: rgba(238, 235, 229, 0.6);
                            padding: 10px 0px 10px 15px;
                            font-size: 16px;
                        }
                    
                    }
                }
                &_right{
                    width: 100%;
                    margin-right: 0;
                    padding-bottom: 10px;
                    &_img{
                        height: 300px;
                        overflow: hidden;
                        position: relative;
                        >a{
                            >img{
                                height: 100%;
                            }
                        }
                        h3{
                            text-transform: uppercase;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            background: rgba(238, 235, 229, 0.6);
                            padding: 10px 0px 10px 15px;
                            font-size: 16px;
                        }
                    }
                }
                   
                
            }
    
            &_bottom{
               flex-direction: column;
                &_item{
                    margin-right: 0;
                    position: relative;
                    height: 300px;
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 10px;
                    &:last-child{
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                    >a{
                        >img{
                            height: 100%;
                        }
                    }
                    h3{
                        text-transform: uppercase;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        background: rgba(238, 235, 229, 0.6);
                        padding: 10px 0px 10px 15px;
                        font-size: 16px;
                    }
                }
            }
            &_xemthem{
                display: none;
            }
            &_xemthem_web{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                >a{
                    text-align: center;
                    display: block;
                    background-color: #fff;
                    color: #1aceff;
                    width: 100%;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 5px;
                    padding-right: 15px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    position: relative;
                    >i{
                        margin-left: 5px;
                        position: absolute;
                        top: 9px;
                    }
                }
            }
            
        }
    }


    .about-us{
        display: none !important;
    }
    .banner_list{
        display: none;
    }
    .banner_list_mobile{
        display: block;
    }
    .wrap {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .nav{
       display: none;
    }
    .banner_list_mobile{
        .banner_list_item_mobile{
            display: flex;
            flex-direction: unset;
            width: 110%;
            justify-content: center;
            align-items: center;
        }
         p{
             font-size: 10px;
             width: 80px;
             margin-top: 0;
             margin-right: 2px;
         }
        img{
            width: auto!important;
            height: 50px;
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            position: absolute;
            top: -22px;
            left: 0;
            width: 100%;
            button{
                position: absolute;
                top: 30px;
                &.owl-prev{
                    left: 10px;
                }
                &.owl-next{
                    right: 10px;
                }
                i{
                    color: #fff;
                    font-size: 35px;
                }
            }
            
        }
    }
    .mobile{
        display: block;
        &_top{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &_item{
                margin-right: 30px;
                img.logo{
                    width: 200px;
                }
                &:first-child{
                    position: absolute;
                    left: 0;
                }
                &:last-child{
                    position: absolute;
                    right: 0;
                    margin-right: 0;
                }
                >i{
                    font-size: 20px;
                    cursor: pointer;
                }
                >ul{
                    display: flex;
                    >li{
                        margin-right: 18px;
                        &:last-child{
                            margin-right: 0;
                            margin-top: 2px;
                        }
                        >a{
                            >i{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .da-th{
        background-color: #e2e7ed;
        padding: 30px 0;
        .wrap{
            >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
        &_list{
            display: flex;
            &_item{
                margin-right: 10px;
                height: 100%;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                >h3{
                    margin-top: 20px;
                }
            }
            .owl-dots{
                display: none;
            }
            .owl-nav{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                button{
                    display: inline-block;
                    border: none;
                    border: 2px solid #1aceff !important;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    line-height: 40px;
                    font-size: 45px;
                    position: absolute;
                    &:hover{
                        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                    }
                    &.owl-prev{
                        top: -55px;
                        right: 60px;
                    }
                    &.owl-next{
                        top: -55px;
                        right: 0px;
                    }
                    span{
                        color: #1aceff;
                    }
                }
                .owl-next {
                    float: right;
                }
            }
        }
    
    }
    .cniot{
        padding: 50px 0;
        background-position: center center;
        background-size: cover;
            &_row{
                &_col{
                    >span{
                        display: block;
                        position: relative;
                        color: #1aceff;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 16px;
                        width: 100%;
                        &:before{
                            position: absolute;
                            content: '';
                            width: 50px;
                            height: 1px;
                            left: 230px;
                            background-color: #1aceff;
                            top: 11px;
                        }
                    }
                    >h4{
                        color: #fff;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 15px;
                        margin-bottom: 20px;    
                    }
                    &:last-child{
                        >img{
                            width: 100%;
                        }
                    }
                }
            }
            
        &_row{
            flex-direction: column;
          
        }
        &_list{
            &_item{
                float: left;
                width: 48%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-right: 4%;
                margin-bottom: 4%;
                &:nth-child(2n){
                    margin-right: 0;
                }
                &_img{
                    >a{
                        >img{
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                        }
                    }
                }
                >h3{
                    margin-top: 20px;
                    >a{
                        color: #1aceff;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
                >p{
                    color: #fff;
                    margin-top: 10px;
                    line-height: 2em;
                }
            }
        }
    }
    .news{
        margin: 30px 0;
        .wrap{
            >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
        &_list{
            display: flex;
            &_item{
                width: 100%;
                margin-right: 0;
                &:last-child{
                    margin-right: 0;
                }
                &_img{
                    width: 100%;
                    overflow: hidden;
                    >a{
                      >img{
                        width: 100%;
                      }
                    }
                }
                &_infor{
                    >h3{
                        font-size: 16px;
                        margin-top: 15px;
                        margin-bottom: 5px;
                    }
                    >p{
                        line-height: 2em;
                        font-size: 14px;
                    }
                    >a{
                        margin-top: 15px;
                        display: block;
                        background-color: #1aceff;
                        color: #fff;
                        width: 30%;
                        text-align: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 5px;
                        padding-right: 15px;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: bold;
                        position: relative;
                        >i{
                            margin-left: 5px;
                            position: absolute;
                            top: 8px;
                        }
                    }
                }
            }
        }
        .owl-dots{
                display: none;
            }
        .owl-nav{
            width: 100%;
            position: unset;
            button{
                display: inline-block;
                border: none;
                border: 2px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: absolute;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                &.owl-prev{
                    top: -55px;
                    right: 60px;
                }
                &.owl-next{
                    top: -55px;
                    right: 0px;
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }
    .cn{
        background-color: #dee1e6;
        padding: 50px 0;
       &_list{
           flex-direction: column;
           &_title{
               width: 100% !important;
               margin-right: 0;
               >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 20px;
                margin-top: 0;
                line-height: 2em;
               }
           }
           &_img{
            width: 100% !important;
            >a{
                margin-right: 0;
                img{
                    width: 22.98%;
                }
                &:last-child{
                     margin-right: 0;
                }
            }
            .owl-dots{
                display: none;
            }
            .owl-nav{
                top: 32%;
                display: flex;
                position: absolute;
                right: -60px;
                flex-direction: column;
                button {
                    border: 2px solid #1aceff !important;
                    height: 40px;
                    background-color:#fff !important;
                    width: 40px;
                    border-radius: 50%;   
                    transition:ease all  0.5;
                    >span{
                        color: #1aceff;
                    }  
                    &:hover{
                        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                    }
                }
                .owl-prev{
                    margin-bottom: 20px;
                }
            }
    
           }
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            width: 100%;
            position: unset;
            button{
                display: inline-block;
                border: none;
                border: 2px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: absolute;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                &.owl-prev{
                    top: 80px;
                    left: 0;
                }
                &.owl-next{
                    top: 80px;
                    right: 0;
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }
    #dieu_khoan{
        display: none!important;
    }
    #border_ke {
        font-size: 16px!important;
    }
    footer-end p{
        text-align: center;
        float: unset!important;
        line-height: 30px;
    }
    .dt{
        /* position: relative; */
        img{
            width: 80%!important;
            margin-left: 10%;
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            button{
                display: inline-block;
                border: none;
                border: 2px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: absolute;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                &.owl-prev{
                    top: -86px;
                    right: 60px;
                }
                &.owl-next{
                    top: -86px;
                    right: 0px;
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }

    .mobile-about-us{
        display: block;
        padding: 25px 0;
        &_list{
            &_item{
                &_img{
                    width: 100%;
                    >a{
                        >img{
                            width: 100%;
                        }
                    }
                }
                &_infor{
                    >span{
                        margin-top: 20px;
                    }
                    >h4{
                        font-weight: bold;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        font-family:'Josefin Sans', sans-serif;
                    }
                    >p{
                        height: 90px;
                        line-height: 2em;
                        font-size: 15px;
                        overflow: hidden;
                    }
                }
            }
        }
      &_wrap{
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            >ul{
                margin-top: 35px;
                margin-bottom: 2px;
                width: 100%;
                border-top: 5px solid #a1a1a1;
                >.wrap-li{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    >li{
                        position: relative;
                        cursor: pointer;
                        transition: background-color 0.6s ease;
                        margin-right: 16px;
                        &:last-child{
                            margin-right: 0;
                        }
                        &:before{
                            position: absolute;
                            content: '';
                            background-color: #a1a1a1;
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;
                            left: 0;
                            z-index: 2;
                            border: 1px solid #a1a1a1;
                            transform: translate(0%, -67%);
                        }
                        >a{
                            margin-left: -5px;
                            margin-top: 15px;
                            display: block;
                        }
                        >span{
                            &:before {
                                position: absolute;
                                content: '';
                                background-color: #cccccc;
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                z-index: 3;
                                border: 1px solid #cccccc;
                                left: 8px;
                                transform: translateY(-87%);
                            }
                        }
                    }
                    >li.active{
                        &:before{
                            position: absolute;
                            content: '';
                            background-color: #1aceff;
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;
                            left: 0;
                            z-index: 2;
                            border: 1px solid #1aceff;
                            transform: translate(0%, -67%);
                        }
                        >span{
                            &:before {
                                position: absolute;
                                content: '';
                                background-color: #fff;
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                z-index: 3;
                                border: 1px solid #fff;
                                left: 8px;
                                transform: translateY(-87%);
                            }
                        }
                        >a{
                            color: #1aceff;
                        }
                    }
                }
            }
            
      }
    }


}

@media only screen and (max-width: 480px){
    .wrap {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .nav{
       display: none;
    }
    .banner_list_mobile{
       .banner_list_item_mobile{
           display: flex;
           flex-direction: unset;
           width: 110%;
           justify-content: center;
           align-items: center;
       }
        p{
            font-size: 10px;
            width: 80px;
            margin-top: 0;
            margin-right: 2px;
        }
        img{
            width: auto!important;
            height: 50px;
            margin-bottom: 0;
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            position: absolute;
            top: -22px;
            left: 0;
            width: 100%;
            button{
                position: absolute;
                top: 30px;
                &.owl-prev{
                    left: 10px;
                }
                &.owl-next{
                    right: 10px;
                }
                i{
                    color: #fff;
                    font-size: 35px;
                }
            }
            
        }
    }
    .mobile{
        display: block;
        &_top{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &_item{
                margin-right: 30px;
                img.logo{
                    width: 200px;
                }
                &:first-child{
                    position: absolute;
                    left: 0;
                }
                &:last-child{
                    position: absolute;
                    right: 0;
                    margin-right: 0;
                }
                >i{
                    font-size: 20px;
                    cursor: pointer;
                }
                >ul{
                    display: flex;
                    >li{
                        margin-right: 18px;
                        &:last-child{
                            margin-right: 0;
                            margin-top: 2px;
                        }
                        >a{
                            >i{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .da-th{
        background-color: #e2e7ed;
        padding: 30px 0;
        .wrap{
            >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
        &_list{
            display: flex;
            &_item{
                margin-right: 10px;
                height: 100%;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                >h3{
                    margin-top: 20px;
                }
            }
            .owl-dots{
                display: none;
            }
            .owl-nav{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                button{
                    display: inline-block;
                    border: none;
                    border: 2px solid #1aceff !important;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    line-height: 40px;
                    font-size: 45px;
                    position: absolute;
                    &:hover{
                        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                    }
                    &.owl-prev{
                        top: -55px;
                        right: 60px;
                    }
                    &.owl-next{
                        top: -55px;
                        right: 0px;
                    }
                    span{
                        color: #1aceff;
                    }
                }
                .owl-next {
                    float: right;
                }
            }
        }
    
    }
    .cniot{
        padding: 50px 0;
        background-position: center center;
        background-size: cover;
            &_row{
                &_col{
                    >span{
                        display: block;
                        position: relative;
                        color: #1aceff;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 16px;
                        width: 100%;
                        &:before{
                            position: absolute;
                            content: '';
                            width: 50px;
                            height: 1px;
                            left: 230px;
                            background-color: #1aceff;
                            top: 11px;
                        }
                    }
                    >h4{
                        color: #fff;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 15px;
                        margin-bottom: 20px;    
                    }
                    &:last-child{
                        >img{
                            width: 100%;
                        }
                    }
                }
            }
            
        &_row{
            flex-direction: column;
          
        }
        &_list{
            &_item{
                float: left;
                width: 48%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-right: 4%;
                margin-bottom: 4%;
                &:nth-child(2n){
                    margin-right: 0;
                }
                &_img{
                    >a{
                        >img{
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                        }
                    }
                }
                >h3{
                    margin-top: 20px;
                    >a{
                        color: #1aceff;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
                >p{
                    color: #fff;
                    margin-top: 10px;
                    line-height: 2em;
                }
            }
        }
    }
    .news{
        margin: 30px 0;
        .wrap{
            >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
        &_list{
            display: flex;
            &_item{
                width: 100%;
                margin-right: 0;
                &:last-child{
                    margin-right: 0;
                }
                &_img{
                    width: 100%;
                    overflow: hidden;
                    >a{
                      >img{
                        width: 100%;
                      }
                    }
                }
                &_infor{
                    >h3{
                        font-size: 16px;
                        margin-top: 15px;
                        margin-bottom: 5px;
                    }
                    >p{
                        line-height: 2em;
                        font-size: 14px;
                    }
                    >a{
                        margin-top: 15px;
                        display: block;
                        background-color: #1aceff;
                        color: #fff;
                        width: 30%;
                        text-align: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 5px;
                        padding-right: 15px;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: bold;
                        position: relative;
                        >i{
                            margin-left: 5px;
                            position: absolute;
                            top: 8px;
                        }
                    }
                }
            }
        }
        .owl-dots{
                display: none;
            }
        .owl-nav{
            width: 100%;
            position: unset;
            button{
                display: inline-block;
                border: none;
                border: 2px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: absolute;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                &.owl-prev{
                    top: -55px;
                    right: 60px;
                }
                &.owl-next{
                    top: -55px;
                    right: 0px;
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }
    .cn{
        background-color: #dee1e6;
        padding: 50px 0;
       &_list{
           flex-direction: column;
           &_title{
               width: 100% !important;
               margin-right: 0;
               >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 20px;
                margin-top: 0;
                line-height: 2em;
               }
           }
           &_img{
            width: 100% !important;
            >a{
                margin-right: 0;
                img{
                    width: 22.98%;
                }
                &:last-child{
                     margin-right: 0;
                }
            }
            .owl-dots{
                display: none;
            }
            .owl-nav{
                top: 32%;
                display: flex;
                position: absolute;
                right: -60px;
                flex-direction: column;
                button {
                    border: 2px solid #1aceff !important;
                    height: 40px;
                    background-color:#fff !important;
                    width: 40px;
                    border-radius: 50%;   
                    transition:ease all  0.5;
                    >span{
                        color: #1aceff;
                    }  
                    &:hover{
                        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                    }
                }
                .owl-prev{
                    margin-bottom: 20px;
                }
            }
    
           }
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            width: 100%;
            position: unset;
            button{
                display: inline-block;
                border: none;
                border: 2px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: absolute;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                &.owl-prev{
                    top: 80px;
                    left: 0;
                }
                &.owl-next{
                    top: 80px;
                    right: 0;
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }
    #dieu_khoan{
        display: none!important;
    }
    #border_ke {
        font-size: 16px!important;
    }
    footer-end p{
        text-align: center;
        float: unset!important;
        line-height: 30px;
    }
    .dt{
        /* position: relative; */
        img{
            width: 80%!important;
            margin-left: 10%;
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            button{
                display: inline-block;
                border: none;
                border: 2px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: absolute;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                &.owl-prev{
                    top: -86px;
                    right: 60px;
                }
                &.owl-next{
                    top: -86px;
                    right: 0px;
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }

    .gp{
        .wrap{
            >h4{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
        &_row{
           flex-direction: column;
            &_column{
                margin-right: 0;
                &_left{
                    float: left;
                    width: 100%;
                    margin-right: 0;
                    &_top{
                        margin-bottom: 10px;
                        height: 300px;
                        overflow: hidden;
                        position: relative;
                        >a{
                            >img{
                                height: 100%;
                            }
                        }
                        h3{
                            text-transform: uppercase;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            background: rgba(238, 235, 229, 0.6);
                            padding: 10px 0px 10px 15px;
                            font-size: 16px;
                        }
                        
                    }
                    &_img {
                        margin-right: 10px;
                        position: relative;
                        margin-bottom: 10px;
                        height: 300px;
                        overflow: hidden;
                        float: left;
                        width: 100%;
                        &:last-child{
                            margin-right: 0;
                            display: none;
                        }
                       >a{
                           >img{
                               height: 100%;
                               width: 100%;
                           }
                       }
                        h3{
                            text-transform: uppercase;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            background: rgba(238, 235, 229, 0.6);
                            padding: 10px 0px 10px 15px;
                            font-size: 16px;
                        }
                    
                    }
                }
                &_right{
                    width: 100%;
                    margin-right: 0;
                    padding-bottom: 10px;
                    display: none;
                    &_img{
                        height: 300px;
                        overflow: hidden;
                        position: relative;
                        >a{
                            >img{
                                height: 100%;
                            }
                        }
                        h3{
                            text-transform: uppercase;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            background: rgba(238, 235, 229, 0.6);
                            padding: 10px 0px 10px 15px;
                            font-size: 16px;
                        }
                    }
                }
                   
                
            }
    
            &_bottom{
               flex-direction: column;
               display: none;
                &_item{
                    margin-right: 0;
                    position: relative;
                    height: 300px;
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 10px;
                    &:last-child{
                        margin-right: 0;
                        margin-bottom:0;
                    }
                    >a{
                        >img{
                            height: 100%;
                        }
                    }
                    h3{
                        text-transform: uppercase;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        background: rgba(238, 235, 229, 0.6);
                        padding: 10px 0px 10px 15px;
                        font-size: 16px;
                    }
                }
            }
            &_xemthem{
                display: none;
            }
    
            &_xemthem_web{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                >a{
                    text-align: center;
                    display: block;
                    background-color: #fff;
                    color: #1aceff;
                    width: 100%;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 5px;
                    padding-right: 15px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    position: relative;
                    >i{
                        margin-left: 5px;
                        position: absolute;
                        top: 9px;
                    }
                }
            }
            
        }
    }


    .about-us{
        display: none !important;
    }

    .mobile-about-us{
        display: block;
        padding: 25px 0;
        &_list{
            &_item{
                &_img{
                    width: 100%;
                    >a{
                        >img{
                            width: 100%;
                        }
                    }
                }
                &_infor{
                    >span{
                        margin-top: 20px;
                    }
                    >h4{
                        font-weight: bold;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        font-family:'Josefin Sans', sans-serif;
                    }
                    >p{
                        height: 90px;
                        line-height: 2em;
                        font-size: 15px;
                        overflow: hidden;
                    }
                }
            }
        }
      &_wrap{
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            >ul{
                margin-top: 35px;
                margin-bottom: 2px;
                width: 100%;
                border-top: 5px solid #a1a1a1;
                >.wrap-li{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    >li{
                        position: relative;
                        cursor: pointer;
                        transition: background-color 0.6s ease;
                        margin-right: 16px;
                        &:last-child{
                            margin-right: 0;
                        }
                        &:before{
                            position: absolute;
                            content: '';
                            background-color: #a1a1a1;
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;
                            left: 0;
                            z-index: 2;
                            border: 1px solid #a1a1a1;
                            transform: translate(0%, -67%);
                        }
                        >a{
                            margin-left: -5px;
                            margin-top: 15px;
                            display: block;
                        }
                        >span{
                            &:before {
                                position: absolute;
                                content: '';
                                background-color: #cccccc;
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                z-index: 3;
                                border: 1px solid #cccccc;
                                left: 8px;
                                transform: translateY(-87%);
                            }
                        }
                    }
                    >li.active{
                        &:before{
                            position: absolute;
                            content: '';
                            background-color: #1aceff;
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;
                            left: 0;
                            z-index: 2;
                            border: 1px solid #1aceff;
                            transform: translate(0%, -67%);
                        }
                        >span{
                            &:before {
                                position: absolute;
                                content: '';
                                background-color: #fff;
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                z-index: 3;
                                border: 1px solid #fff;
                                left: 8px;
                                transform: translateY(-87%);
                            }
                        }
                    }
                }
            }
            
      }
    }

   
}
@media only screen and (max-width: 320px){

}