* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
font,
img,
ol,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: Josefin Sans, sans-serif;
  /* line-height: 1.5; */
  color: #032538;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.product-top {
  margin-top: 50px;
  position: relative;
}

.product-bottom {
  margin-bottom: 50px;
  position: relative;
}

#cart {
  margin-top: 2px;
  position: relative;
}

#cart > a > span {
  position: absolute;
  top: -8px;
  left: 12px;
  font-size: 11px;
  color: #fff;
  background-color: #1aceff;
  border-radius: 50%;
  width: 15px;
  text-align: center;
  height: 15px;
}

#js-scroll-down {
  position: absolute;
  top: auto;
  bottom: 186px;
  width: 19px;
  height: 44px;
  left: 749px;
  -webkit-animation: scrollDestop 2s infinite;
  -moz-animation: scrollDestop 2s infinite;
  -o-animation: scrollDestop 2s infinite;
  -ms-animation: scrollDestop 2s infinite;
  z-index: 99;
  cursor: pointer;
}

#border_ke {
  display: block;
  position: relative;
  color: #1aceff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

#border_ke:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  left: 118px;
  background-color: #1aceff;
  top: 9px;
}

.container {
  position: relative;
}

.mySlides {
  display: block !important;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.demo {
  opacity: 0.6;
}

.active > img,
.banner_list_item:hover > img {
  opacity: 1;
}

.active > p,
.banner_list_item:hover > p {
  color: #1aceff !important;
}

.mobile {
  display: none;
}

.mobile-about-us {
  display: none;
}

.wrap {
  width: 1170px;
  margin: 0 auto;
}

.default {
  width: 100%;
  float: left;
}

.nav {
  padding: 5px 0;
}

.nav_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_top_left > ul {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_top_left > ul > li {
  margin-right: 35px;
}

.nav_top_left > ul > li:last-child {
  margin-right: 0;
}

.nav_top_img {
  height: 60px;
  width: 300px;
  overflow: hidden;
}

.nav_top_img img {
  height: 100%;
  width: 100%;
}

.nav_top_right > ul {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_top_right > ul > li {
  margin-right: 35px;
}

.nav_top_right > ul > li:last-child {
  margin-right: 0;
  margin-top: 3px;
}

.banner_list {
  background-color: #032538;
  margin-top: -8px;
  padding: 20px 0;
}

.banner_list_mobile {
  display: none;
}

.banner_list_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_list_item {
  cursor: pointer;
  background-color: #032538;
  width: 100%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner_list_item:last-child {
  margin-right: 0;
}

.banner_list_item img {
  height: 70px;
  width: 70px;
  background-color: #032538;
  margin-bottom: 20px;
  z-index: 0;
}

.banner_list_item > p {
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: 120px;
}

.about-us {
  padding: 50px 0;
  background-position: center center;
  background-size: cover;
}

.about-us_list {
  clear: both;
  float: left;
}

.about-us_list_item {
  display: block !important;
  float: left;
}

.about-us_list_item_infor {
  margin-right: 4%;
  float: left;
  width: 48%;
}

.about-us_list_item_infor > h4 {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

.about-us_list_item_infor > p {
  height: 142px;
  overflow: hidden;
  line-height: 2em;
  font-size: 15px;
}

.about-us_list_item_infor > a {
  margin-top: 35px;
  display: block;
  background-color: #1aceff;
  color: #fff;
  width: 25%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 5px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.about-us_list_item_infor > a > i {
  margin-left: 5px;
  position: absolute;
  top: 14px;
}

.about-us_list_item_img {
  float: left;
  width: 48%;
}

.about-us_list_item_img > a > img {
  width: 100%;
}

.about-us .wrap > ul {
  margin-top: 50px;
  width: 100%;
  border-top: 5px solid #a1a1a1;
  clear: both;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .wrap > ul > li {
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  margin-right: 100px;
}

.about-us .wrap > ul > li:last-child {
  margin-right: 0;
}

.about-us .wrap > ul > li:before {
  position: absolute;
  content: '';
  background-color: #a1a1a1;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  left: 0;
  z-index: 2;
  border: 1px solid #a1a1a1;
  -webkit-transform: translate(0%, -67%);
          transform: translate(0%, -67%);
}

.about-us .wrap > ul > li > a {
  margin-left: -5px;
  margin-top: 15px;
  display: block;
}

.about-us .wrap > ul > li > span:before {
  position: absolute;
  content: '';
  background-color: #cccccc;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 3;
  border: 1px solid #cccccc;
  left: 8px;
  -webkit-transform: translateY(-87%);
          transform: translateY(-87%);
}

.about-us .wrap > ul > li.active:before {
  position: absolute;
  content: '';
  background-color: #1aceff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  left: 0;
  z-index: 2;
  border: 1px solid #1aceff;
  -webkit-transform: translate(0%, -67%);
          transform: translate(0%, -67%);
}

.about-us .wrap > ul > li.active > span:before {
  position: absolute;
  content: '';
  background-color: #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 3;
  border: 1px solid #fff;
  left: 8px;
  -webkit-transform: translateY(-87%);
          transform: translateY(-87%);
}

.about-us .wrap > ul > li.active > a {
  color: #1aceff;
}

.gp .wrap > h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.gp_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gp_row_column {
  margin-right: 10px;
}

.gp_row_column_left {
  float: left;
  width: 70%;
  margin-right: 10px;
}

.gp_row_column_left_top {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.gp_row_column_left_top > a > img {
  height: 100%;
}

.gp_row_column_left_top h3 {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  bottom: 5px;
  background: rgba(238, 235, 229, 0.6);
  padding: 10px 0px 10px 15px;
  font-size: 16px;
}

.gp_row_column_left_img {
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
  height: 304px;
  overflow: hidden;
  float: left;
  width: 49.3%;
}

.gp_row_column_left_img:last-child {
  margin-right: 0;
}

.gp_row_column_left_img > a > img {
  height: 100%;
  width: 100%;
}

.gp_row_column_left_img h3 {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(238, 235, 229, 0.6);
  padding: 10px 0px 10px 15px;
  font-size: 16px;
}

.gp_row_column_right {
  width: 30%;
  margin-right: 0;
  padding-bottom: 10px;
}

.gp_row_column_right_img {
  height: 100%;
  position: relative;
}

.gp_row_column_right_img > a > img {
  height: 100%;
}

.gp_row_column_right_img h3 {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(238, 235, 229, 0.6);
  padding: 10px 0px 10px 15px;
  font-size: 16px;
}

.gp_row_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gp_row_bottom_item {
  margin-right: 10px;
  position: relative;
  width: 50%;
  overflow: hidden;
}

.gp_row_bottom_item:last-child {
  margin-right: 0;
}

.gp_row_bottom_item > a > img {
  height: 100%;
}

.gp_row_bottom_item h3 {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(238, 235, 229, 0.6);
  padding: 10px 0px 10px 15px;
  font-size: 16px;
}

.gp_row_xemthem {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gp_row_xemthem_web {
  display: none;
}

.gp_row_xemthem > a {
  text-align: center;
  display: block;
  background-color: #1aceff;
  color: #fff;
  width: 10%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.gp_row_xemthem > a > i {
  margin-left: 5px;
  position: absolute;
  top: 9px;
}

.da-th {
  background-color: #e2e7ed;
  padding: 50px 0;
}

.da-th .wrap > h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.da-th_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.da-th_list_item {
  margin-right: 10px;
  height: 100%;
}

.da-th_list_item:last-child {
  margin-right: 0;
}

.da-th_list_item a img {
  height: 100%;
  width: 100%;
}

.da-th_list_item > h3 {
  margin-top: 20px;
}

.da-th_list .owl-dots {
  display: none;
}

.da-th_list .owl-nav {
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 110%;
  position: absolute;
  left: -60px;
}

.da-th_list .owl-nav button {
  display: inline-block;
  border: none;
  border: 1px solid #1aceff !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 45px;
  position: relative;
}

.da-th_list .owl-nav button:hover {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}

.da-th_list .owl-nav button span {
  color: #1aceff;
}

.da-th_list .owl-nav .owl-next {
  float: right;
}

.cniot {
  padding: 50px 0;
  background-position: bottom bottom;
  background-size: cover;
}

.cniot_row_col > span {
  display: block;
  position: relative;
  color: #1aceff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.cniot_row_col > span:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  left: 200px;
  background-color: #1aceff;
  top: 7px;
}

.cniot_row_col > h4 {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.cniot_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cniot_list_item {
  float: left;
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 10%;
  margin-bottom: 4%;
}

.cniot_list_item:nth-child(2n) {
  margin-right: 0;
}

.cniot_list_item_img {
  background-color: #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7px;
}

.cniot_list_item_img > a > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.cniot_list_item > h3 {
  margin-top: 20px;
}

.cniot_list_item > h3 > a {
  color: #1aceff;
  text-transform: uppercase;
  font-size: 16px;
}

.cniot_list_item > p {
  color: #fff;
  margin-top: 10px;
  line-height: 2em;
  font-size: 15px;
}

.news {
  margin: 50px 0;
}

.news .wrap > h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.news_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_list_item {
  width: 100%;
  margin-right: 2%;
}

.news_list_item:last-child {
  margin-right: 0;
}

.news_list_item_img {
  width: 100%;
  overflow: hidden;
}

.news_list_item_img > a > img {
  width: 100%;
}

.news_list_item_infor > h3 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.news_list_item_infor > p {
  line-height: 2em;
  font-size: 15px;
  height: 84px;
  overflow: hidden;
}

.news_list_item_infor > a {
  margin-top: 15px;
  display: block;
  background-color: #1aceff;
  color: #fff;
  width: 30%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.news_list_item_infor > a > i {
  margin-left: 5px;
  position: absolute;
  top: 8px;
}

.cn {
  background-color: #dee1e6;
  padding: 50px 0;
}

.cn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cn_list_title {
  width: 20% !important;
  margin-right: 30px;
}

.cn_list_title > h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
  line-height: 2em;
  font-family: 'Josefin Sans', sans-serif;
}

.cn_list_img {
  width: 80% !important;
}

.cn_list_img > a {
  margin-right: 20px;
}

.cn_list_img > a img {
  width: 22.98%;
}

.cn_list_img > a:last-child {
  margin-right: 0;
}

.cn_list_img .owl-dots {
  display: none;
}

.cn_list_img .owl-nav {
  top: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cn_list_img .owl-nav button {
  border: 2px solid #1aceff !important;
  height: 40px;
  background-color: #fff !important;
  width: 40px;
  border-radius: 50%;
  -webkit-transition: ease all  0.5;
  transition: ease all  0.5;
}

.cn_list_img .owl-nav button > span {
  color: #1aceff;
}

.cn_list_img .owl-nav button:hover {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}

.cn_list_img .owl-nav .owl-prev {
  margin-bottom: 20px;
}

.dt {
  padding: 50px 0;
}

.dt .wrap > h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.dt_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dt_list .owl-dots {
  display: none;
}

.dt_list .owl-nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 110%;
  position: absolute;
  left: -60px;
}

.dt_list .owl-nav button {
  display: inline-block;
  border: none;
  border: 1px solid #1aceff !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 45px;
  position: relative;
}

.dt_list .owl-nav button:hover {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}

.dt_list .owl-nav button span {
  color: #1aceff;
}

.dt_list .owl-nav .owl-next {
  float: right;
}

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #032538;
  text-align: center;
}

footer .wrap > h4 {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
}

footer .wrap > p {
  line-height: 2em;
  color: #fff;
}

footer .wrap > p#phone {
  margin-bottom: 1em !important;
}

footer .wrap > p#phone > a {
  color: #1aceff;
  font-size: 35px;
  font-weight: bold;
}

footer .wrap > p#name_company {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

footer .wrap > ul.footer-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

footer .wrap > ul.footer-share > li {
  margin-right: 20px;
}

footer .wrap > ul.footer-share > li > a > i {
  color: #fff;
  font-size: 20px;
}

footer .wrap > ul.footer-share > li:last-child {
  margin-right: 0;
}

footer .wrap > a#dathongbao {
  display: block;
  margin: 1em 0;
}

footer .wrap > a#dathongbao > img {
  width: 140px;
}

footer .wrap > ul#dieu_khoan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wrap > ul#dieu_khoan > li {
  margin-right: 30px;
}

footer .wrap > ul#dieu_khoan > li:last-child {
  margin-right: 0;
}

footer .wrap > ul#dieu_khoan > li > a {
  color: #fff;
}

footer-end {
  padding: 20px 0;
  background-color: #021e2e;
}

footer-end .wrap > p {
  color: #fff;
}

footer-end .wrap > p:first-child {
  float: left;
}

footer-end .wrap > p:first-child > span {
  color: #1aceff;
}

footer-end .wrap > p:last-child {
  float: right;
}

@font-face {
  font-family: "Myriad-Pro-Semibold-Condensed";
  src: url("");
  src: url("#iefix") format("embedded-opentype"), url("") format("woff"), url("https://repu.vn/wp-content/uploads/2017/12/Myriad-Pro-Semibold_31650.ttf") format("truetype"), url("#Myriad-Pro-Semibold-Condensed") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad-Pro-Light-SemiCondensed";
  src: url("");
  src: url("#iefix") format("embedded-opentype"), url("") format("woff"), url("https://repu.vn/wp-content/uploads/2017/12/Myriad-Pro-Light-SemiCondensed_31639-new.ttf") format("truetype"), url("#Myriad-Pro-Light-SemiCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.suntory-alo-phone {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  position: fixed;
  -webkit-transition: visibility 0.5s ease 0s;
  transition: visibility 0.5s ease 0s;
  width: 120px;
  z-index: 200000 !important;
  top: initial !important;
}

.suntory-alo-ph-circle {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
          animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
  background-color: transparent;
  border: 2px solid #1aceff;
  border-radius: 100%;
  height: 100px;
  left: 6px;
  opacity: 0.1;
  position: absolute;
  top: 20px;
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100px;
}

.suntory-alo-ph-circle-fill {
  -webkit-animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
          animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 70px;
  left: 21px;
  position: absolute;
  top: 38px;
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 70px;
}

.suntory-alo-ph-img-circle {
  border: 2px solid transparent;
  border-radius: 100%;
  height: 50px;
  left: 32px;
  position: absolute;
  top: 48px;
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  width: 50px;
}

.suntory-alo-phone.suntory-alo-hover, .suntory-alo-phone:hover {
  opacity: 1;
}

.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
  -webkit-animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
          animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
  -webkit-animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
          animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone:hover .suntory-alo-ph-circle {
  border-color: #1aceff;
  opacity: 0.5;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
  border-color: #1aceff;
  opacity: 1;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.9);
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
  background-color: #1aceff;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
  background-color: #00aff2;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
  background-color: #1aceff;
}

.s-desc h3 {
  font-size: 18px;
}

.caption .name h5 {
  font-size: 18px;
}

.banner-category {
  text-align: center;
  background: #1aceff;
}

@-webkit-keyframes suntory-alo-circle-anim {
  0% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
            transform: rotate(0deg) scale(0.5) skew(1deg);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes suntory-alo-circle-anim {
  0% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
            transform: rotate(0deg) scale(0.5) skew(1deg);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes suntory-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes suntory-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes suntory-alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
  }
}

@keyframes suntory-alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
  }
}

.suntory-alo-ph-img-circle i {
  -webkit-animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
          animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
  font-size: 30px;
  line-height: 50px;
  padding-left: 13px;
  color: #fff;
}

@-webkit-keyframes suntory-alo-ring-ring {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes suntory-alo-ring-ring {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
  }
}

.suntory-alo-phone > span.nb {
  background-color: #1aceff;
  border-radius: 5px;
  padding: 5px 5px;
  color: #fff;
  position: relative;
}

.suntory-alo-phone > span.nb:after {
  content: '';
  position: absolute;
  right: 30px;
  -webkit-transform: translateX(-58%);
          transform: translateX(-58%);
  top: 27px;
  border-bottom: 0px solid #1aceff;
  border-right: transparent solid 10px;
  border-left: transparent solid 10px;
  border-top: 10px solid #1aceff;
}
/*# sourceMappingURL=style.css.map */