* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}


html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
font,
img,
ol,
ul,
li,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: Josefin Sans, sans-serif;
    /* line-height: 1.5; */
    color: #032538;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.product-top{
    margin-top: 50px;
    position: relative;
}
.product-bottom{
    margin-bottom: 50px;
    position: relative;
}
#cart{
    margin-top: 2px; 
    position: relative;
    >a{
        >span{
            position: absolute;
            top: -8px;
            left: 12px;
            font-size: 11px;
            color: #fff;
            background-color: #1aceff;
            border-radius: 50%;
            width: 15px;
            text-align: center;
            height: 15px;
        }
    } 
}
#js-scroll-down{
    position: absolute;
    top: auto;
    bottom: 186px;
    width: 19px;
    height: 44px;
    left: 749px;
    -webkit-animation: scrollDestop 2s infinite;
    -moz-animation: scrollDestop 2s infinite;
    -o-animation: scrollDestop 2s infinite;
    -ms-animation: scrollDestop 2s infinite;
    z-index: 99;
    cursor: pointer;
   
}
#border_ke{
    display: block;
    position: relative;
    color: #1aceff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    &:before{
        position: absolute;
        content: '';
        width: 50px;
        height: 1px;
        left: 118px;
        background-color: #1aceff;
        top: 9px;
    }
}
.container {
    position: relative;
}
.mySlides {
    display: block !important;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.demo {
    opacity: 0.6;
}

.active,
.banner_list_item:hover {
    >img{
        opacity: 1;
    }
    >p{
        color:#1aceff !important ;
    }
}
.mobile{
    display: none;
}

.mobile-about-us{
    display: none;
}


.wrap{
    width: 1170px;
    margin: 0 auto;
}
.default {
    width: 100%;
    float: left;
}
.nav{
   padding: 5px 0;
    &_top{
        display: flex;
        justify-content:center;
        align-items: center;
        &_left{
            >ul{
                margin-right: 40px;
                display: flex;
                >li{
                    margin-right: 35px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        &_img{
            height: 60px;
            width: 300px;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
            }
        }
        &_right{
            >ul{
                margin-left: 40px;
                display: flex;
                >li{
                    margin-right: 35px;
                   
                    &:last-child{
                        margin-right: 0;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}
.banner{
    &_list{
        background-color: #032538;
        margin-top: -8px;
        padding: 20px 0;
        &_mobile{
            display: none;
        }
        &_row{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_item{
            cursor: pointer;
            background-color: #032538;
            width: 100%;
            margin-right: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:last-child{
                margin-right: 0;
            }
           img{
                height: 70px;
                width: 70px;
                background-color: #032538;
                margin-bottom: 20px;
                z-index: 0;
           }
           >p{
                color: #fff;
                line-height: 1.5;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
                width: 120px;
           }
          
        }
    }
}
.about-us{
    padding: 50px 0;
    background-position: center center;
    background-size: cover;
   &_list{
        clear: both;
        float: left;
       &_item{ 
            display: block !important;
            float: left;
           &_infor{
                margin-right: 4%;
                float: left;
                width: 48%;
               >h4{
                    font-weight: bold;
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    font-family:'Josefin Sans', sans-serif;
               }
               >p{
                    height: 142px;
                    overflow: hidden;
                    line-height: 2em;
                    font-size: 15px;
               }
               >a{
                    margin-top: 35px;
                   display: block;
                   background-color: #1aceff;
                   color: #fff;
                   width: 25%;
                   text-align: center;
                   padding-top: 14px;
                   padding-bottom: 14px;
                   padding-left: 5px;
                   padding-right: 15px;
                   text-transform: uppercase;
                   font-size: 12px;
                   font-weight: bold;
                   position: relative;
                   >i{
                      margin-left: 5px;
                      position: absolute;
                      top: 14px;
                   }
               }
           }
           &_img{
                float: left;
                width: 48%;
                >a{
                    >img{
                        width: 100%;
                    }
                }
           }
       }
   }
   .wrap{
   
    >ul{
        margin-top: 50px;
        width: 100%;
        border-top: 5px solid #a1a1a1;
        clear: both;
        float: left;
        // >.wrap-li{
            // width: 100%;
            display: flex;
            justify-content: center;
            >li{
                position: relative;
                cursor: pointer;
                transition: background-color 0.6s ease;
                margin-right: 100px;
                &:last-child{
                    margin-right: 0;
                }
                &:before{
                    position: absolute;
                    content: '';
                    background-color: #a1a1a1;
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                    left: 0;
                    z-index: 2;
                    border: 1px solid #a1a1a1;
                    transform: translate(0%, -67%);
                }
                >a{
                    margin-left: -5px;
                    margin-top: 15px;
                    display: block;
                }
                >span{
                    &:before {
                        position: absolute;
                        content: '';
                        background-color: #cccccc;
                        border-radius: 50%;
                        height: 10px;
                        width: 10px;
                        z-index: 3;
                        border: 1px solid #cccccc;
                        left: 8px;
                        transform: translateY(-87%);
                    }
                }
            }
            >li.active{
                &:before{
                    position: absolute;
                    content: '';
                    background-color: #1aceff;
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                    left: 0;
                    z-index: 2;
                    border: 1px solid #1aceff;
                    transform: translate(0%, -67%);
                }
                >span{
                    &:before {
                        position: absolute;
                        content: '';
                        background-color: #fff;
                        border-radius: 50%;
                        height: 10px;
                        width: 10px;
                        z-index: 3;
                        border: 1px solid #fff;
                        left: 8px;
                        transform: translateY(-87%);
                    }
                }
                >a{
                    color: #1aceff;
                }
            }
        // }
    }
    
    }
}

.gp{
    .wrap{
        >h4{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 10px;
            font-family:'Josefin Sans', sans-serif;
        }
    }
    &_row{
        display: flex;
        &_column{
            margin-right: 10px;
            &_left{
                float: left;
                width: 70%;
                margin-right: 10px;
                &_top{
                    margin-bottom: 10px;
                    // height: 300px;
                    overflow: hidden;
                    position: relative;
                    >a{
                        >img{
                            height: 100%;
                        }
                    }
                    h3{
                        text-transform: uppercase;
                        position: absolute;
                        width: 100%;
                        bottom: 5px;
                        background: rgba(238, 235, 229, 0.6);
                        padding: 10px 0px 10px 15px;
                        font-size: 16px;
                    }
                    
                }
                &_img {
                    margin-right: 10px;
                    position: relative;
                    margin-bottom: 10px;
                    height: 304px;
                    overflow: hidden;
                    float: left;
                    width: 49.3%;
                    &:last-child{
                        margin-right: 0;
                    }
                   >a{
                       >img{
                           height: 100%;
                           width: 100%;
                       }
                   }
                    h3{
                        text-transform: uppercase;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        background: rgba(238, 235, 229, 0.6);
                        padding: 10px 0px 10px 15px;
                        font-size: 16px;
                    }
                
                }
            }
            &_right{
                width: 30%;
                margin-right: 0;
                padding-bottom: 10px;
                &_img{
                    height: 100%;
                    position: relative;
                    >a{
                        >img{
                            height: 100%;
                        }
                    }
                    h3{
                        text-transform: uppercase;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        background: rgba(238, 235, 229, 0.6);
                        padding: 10px 0px 10px 15px;
                        font-size: 16px;
                    }
                }
            }
               
            
        }

        &_bottom{
            display: flex;
            &_item{
                margin-right: 10px;
                position: relative;
                // height: 300px;
                width: 50%;
                overflow: hidden;
                &:last-child{
                    margin-right: 0;
                }
                >a{
                    >img{
                        height: 100%;
                    }
                }
                h3{
                    text-transform: uppercase;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background: rgba(238, 235, 229, 0.6);
                    padding: 10px 0px 10px 15px;
                    font-size: 16px;
                }
            }
        }

        &_xemthem{ 
            &_web{
                display: none;
            }
            margin-top: 20px;
            display: flex;
            justify-content: center;
            >a{
                text-align: center;
                display: block;
                background-color: #1aceff;
                color: #fff;
                width: 10%;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                padding-right: 15px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                position: relative;
                >i{
                    margin-left: 5px;
                    position: absolute;
                    top: 9px;
                }
            }
        }
        
    }
}
.da-th{
    background-color: #e2e7ed;
    padding: 50px 0;
    .wrap{
        >h4{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 20px;
            font-family:'Josefin Sans', sans-serif;
        }
    }
    &_list{
        display: flex;
        &_item{
            margin-right: 10px;
            height: 100%;
            &:first-child{
            }
            &:last-child{
                margin-right: 0;
            }
            a{
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            >h3{
                margin-top: 20px;
            }
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            top: 40%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 110%;
            position: absolute;
            left: -60px;
            button{
                display: inline-block;
                border: none;
                border: 1px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: relative;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }

}

.cniot{
    padding: 50px 0;
    background-position: bottom bottom;
    background-size: cover;
        &_row{
            &_col{
                >span{
                    display: block;
                    position: relative;
                    color: #1aceff;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    &:before{
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 1px;
                        left: 200px;
                        background-color: #1aceff;
                        top: 7px;
                    }
                }
                >h4{
                    color: #fff;
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    font-family:'Josefin Sans', sans-serif;
                }
            }
        }
        
    &_row{
        display: flex;
      
    }
    &_list{
        &_item{
            float: left;
            width: 44%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: 10%;
            margin-bottom: 4%;
            &:nth-child(2n){
                margin-right: 0;
            }
            &_img{
                background-color: #fff;
                border-radius: 50%;
                height: 70px;
                width: 70px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 7px;
                >a{
                    >img{
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }
                }
            }
            >h3{
                margin-top: 20px;
                >a{
                    color: #1aceff;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
            >p{
                color: #fff;
                margin-top: 10px;
                line-height: 2em;
                font-size: 15px;
            }
        }
    }
}

.news{
    margin: 50px 0;
    .wrap{
        >h4{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 20px;
            font-family:'Josefin Sans', sans-serif;
        }
    }
    &_list{
        display: flex;
        &_item{
            width: 100%;
            margin-right: 2%;
            &:last-child{
                margin-right: 0;
            }
            &_img{
                width: 100%;
                overflow: hidden;
                >a{
                  >img{
                    width: 100%;
                  }
                }
            }
            &_infor{
                >h3{
                    font-size: 16px;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }
                >p{
                    line-height: 2em;
                    font-size: 15px;
                    height: 84px;                
                    overflow: hidden;
                }
                >a{
                    margin-top: 15px;
                    display: block;
                    background-color: #1aceff;
                    color: #fff;
                    width: 30%;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 5px;
                    padding-right: 15px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    position: relative;
                    >i{
                        margin-left: 5px;
                        position: absolute;
                        top: 8px;
                    }
                }
            }
        }
    }
}
.cn{
    background-color: #dee1e6;
    padding: 50px 0;
   &_list{
       display: flex;
       &_title{
           width: 20% !important;
           margin-right: 30px;
           >h4{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 20px;
            margin-top: 15px;
            line-height: 2em;
            font-family:'Josefin Sans', sans-serif;
           }
       }
       &_img{
        width: 80% !important;
        >a{
            margin-right: 20px;
            img{
                width: 22.98%;
            }
            &:last-child{
                 margin-right: 0;
            }
        }
        .owl-dots{
            display: none;
        }
        .owl-nav{
            top: 32%;
            display: flex;
            position: absolute;
            right: -60px;
            flex-direction: column;
            button {
                border: 2px solid #1aceff !important;
                height: 40px;
                background-color:#fff !important;
                width: 40px;
                border-radius: 50%;   
                transition:ease all  0.5;
                >span{
                    color: #1aceff;
                }  
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
            }
            .owl-prev{
                margin-bottom: 20px;
            }
        }

       }
   }
}
.dt{
    padding: 50px 0;
    .wrap{
        >h4{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 50px;
            font-family:'Josefin Sans', sans-serif;
        }
    }
    &_list{
        display: flex;
        .owl-dots{
            display: none;
        }
        .owl-nav{
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 110%;
            position: absolute;
            left: -60px;
            button{
                display: inline-block;
                border: none;
                border: 1px solid #1aceff !important;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-size: 45px;
                position: relative;
                &:hover{
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                }
                span{
                    color: #1aceff;
                }
            }
            .owl-next {
                float: right;
            }
        }
    }
}
footer{
    padding-top: 50px ;
    padding-bottom: 20px;
    background-color: #032538;
    text-align: center;
    .wrap{
        >h4{
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 1em;
            font-weight: normal;
            font-family:'Josefin Sans', sans-serif;
        }
        >p{
          line-height: 2em;
          color: #fff;
            &#phone{
                margin-bottom: 1em !important;
               >a{
                color: #1aceff ;
                font-size: 35px;
                font-weight: bold;
               }
            }
            &#name_company{
                color: #fff;
                font-size: 24px;
                text-transform: uppercase;
            }
        }
        >ul.footer-share{
            display: flex;
            justify-content: center;
            margin: 1em 0;
            >li{
                margin-right: 20px;
                >a{
                    >i{
                        color: #fff;
                        font-size: 20px;

                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        >a#dathongbao{
            display: block;
            margin: 1em 0;
            >img{
                width: 140px;
            }
        }
        >ul#dieu_khoan{
            display: flex;
            justify-content: center;
            >li{
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
                >a{
                    color: #fff;
                }
            }
        }
    }
}
footer-end{ 
    padding: 20px 0;
    background-color: #021e2e;
    .wrap{
        >p{ 
            color: #fff;
            &:first-child{
                float: left;
                >span{
                    color: #1aceff;
                }
            }
            &:last-child{
                float: right;
            }

        }
    }
}


@font-face{font-family:"Myriad-Pro-Semibold-Condensed";src:url("");src:url("#iefix") format("embedded-opentype"),url("") format("woff"),url("https://repu.vn/wp-content/uploads/2017/12/Myriad-Pro-Semibold_31650.ttf") format("truetype"),url("#Myriad-Pro-Semibold-Condensed") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:"Myriad-Pro-Light-SemiCondensed";src:url("");src:url("#iefix") format("embedded-opentype"),url("") format("woff"),url("https://repu.vn/wp-content/uploads/2017/12/Myriad-Pro-Light-SemiCondensed_31639-new.ttf") format("truetype"),url("#Myriad-Pro-Light-SemiCondensed") format("svg");font-weight:normal;font-style:normal}
*{margin:0;padding:0;line-height:1.5}
.suntory-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    width: 120px;
    z-index: 200000 !important;
    top: initial !important;
}
.suntory-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
    background-color: transparent;
    border: 2px solid #1aceff;
    border-radius: 100%;
    height: 100px;
    left: 6px;
    opacity: 0.1;
    position: absolute;
    top: 20px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width:100px;
}
.suntory-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 70px;
    left: 21px;
    position: absolute;
    top: 38px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}
.suntory-alo-ph-img-circle {
    border: 2px solid transparent;
    border-radius: 100%;
    height: 50px;
    left: 32px;
    position: absolute;
    top: 48px;
    transform-origin: 50% 50% 0;
    width: 50px;
}
.suntory-alo-phone.suntory-alo-hover, .suntory-alo-phone:hover {
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone:hover .suntory-alo-ph-circle {
    border-color: #1aceff;
    opacity: 0.5;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
    border-color: #1aceff;
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
    background-color: #1aceff;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
    background-color: #1aceff;
}

.s-desc h3{font-size: 18px;}
.caption .name h5{font-size: 18px;}
.banner-category {
    text-align: center;
    background: #1aceff;
}

@keyframes suntory-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes suntory-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
@keyframes suntory-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}
.suntory-alo-ph-img-circle i {
    animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
    font-size: 30px;
    line-height: 50px;
    padding-left: 13px;
    color: #fff;
}
@keyframes suntory-alo-ring-ring {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
.suntory-alo-phone{
    >span.nb{
        background-color: #1aceff;
        border-radius: 5px;
        padding: 5px 5px;
        color: #fff;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            right: 30px;
            transform: translateX(-58%);
            top: 27px;
            border-bottom: 0px solid #1aceff;
            border-right: transparent solid 10px;
            border-left: transparent solid 10px;
            border-top: 10px solid #1aceff;
        }
    }
}